
@{
    ViewData["Title"] = "Index";
}

<h1>Valitse pelattava peli</h1>

<div id="gameButtons">
    <a asp-controller="Games" asp-action="Lotto" class="game-button">Lotto</a>
    <a asp-controller="Games" asp-action="VikingLotto" class="game-button">VikingLotto</a>
    <a asp-controller="Games" asp-action="EuroJackpot" class="game-button">EuroJackpot</a>
</div>


