@{
    ViewData["Title"] = "VikingLotto";
}

<form asp-action="Play" method="post" id="lotteryForm">

    <h3>Select Your Numbers</h3>
    <div id="numberGrid">
        @for (int i = 1; i <= 48; i++)
        {
            <button type="button" class="number-button" data-value="@i">@i</button>
        }
    </div>

    <input type="hidden" name="userNumbers" id="userNumbers" />
    <p id="selectedNumbers"></p>
    <button type="submit">Play</button>
</form>